<div class="container">
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="/view" class="nav-link">Dashboard</a></li>
        </ul>
    </header>
</div>

<div class="container my-5 ">
    <div class="card-1">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                <h1 class="display-4 fw-bold lh-1 text-body-emphasis">Lorem, ipsum dolor sit amet consectetur
                    adipisicing
                    elit.</h1>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quidem, aliquam
                    minus
                    vero incidunt, nesciunt fugit perspiciatis ex tenetur similique fugiat tempora rem maxime, iure modi
                    rerum totam aut a!</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                    <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold" routerLink="/view">View
                        Employees</button>
                    <button type="button" class="btn btn-outline-secondary btn-lg px-4" routerLink="/add">Add
                        Employees</button>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
                <img class="rounded-lg-3"
                    src="https://image.freepik.com/free-vector/e-learning-makes-it-easy-student-learn_4968-681.jpg"
                    alt="" width="720">
            </div>
        </div>
    </div>
</div>


<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 text-center">
    <div class="col"  *ngFor="let event of events">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">{{event.eventName.toUpperCase()}}</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">{{event.eventName}} Process</h1>
                <button type="button" (click)="onClick(event.eventName)" class="w-100 btn btn-lg btn-outline-primary">{{event.eventName}}</button>
            </div>
        </div>
    </div>
</div>

<ngb-alert *ngIf="noStatus" [type]="type" [dismissible]="true">{{ status | statusComments }}</ngb-alert>